<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" itemscope itemtype="http://schema.org/WebPage">

<head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="icon" href="/static/img/brand/favicon.png" type="image/png" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
      <meta name="description" content="Gestão de Resultado" />
      <meta property="og:site_name" content="decisao.net" />
      <meta property="og:title" content="decisao.net" />
      <meta property="og:description" content="Gestão de Resultado" />
      <meta property="og:image" content="/static/img/brand/icon-512x512.png" />
      <meta property="og:image:secure_url" content="/static/img/brand/icon-512x512.png" />
      <meta property="og:type" content="website" />
      <meta property="og:updated_time" content="1440432930" />
      <title>
            {{ if eq .Kind "home" }}
            {{ .Site.Title }}
            {{ else }}
            {{ .Site.Title }} • {{ .Title }}
            {{ end }}
      </title>
      <!--     Fonts and icons     -->
      <link rel="stylesheet" href="/static/fonts/open-sans/open-sans.css" type="text/css" />
      <!-- Nucleo Icons -->
      <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
      <link href="/static/css/nucleo-svg.css" rel="stylesheet" />
      <!-- Font Awesome Icons -->
      <link href="/static/fonts/fontawesome/css/all.css" rel="stylesheet" />
      <!-- CSS Files -->
      <link id="pagestyle" href="/static/css/soft-design-system-pro.css" rel="stylesheet" />
      <link href="static/css/custom.css" rel="stylesheet" />
</head>

<body {{- block "bodyclass" . }} {{- end }}>

      {{- block "main" . }}{{- end }}

      <!--   No JS Support   -->
      <noscript>Sem JavaScript, verifique seu navegador.</noscript>
      <!-- Privacy Scripts -->
      <script type="text/javascript" id="cookieinfo" src="/static/js/cookieinfo.min.js" data-bg="#252f40"
            data-fg="#f8f9fa" data-link="#fbcf33" data-cookie="CookieInfoScript" data-text-align="left"
            data-message="<strong> Aviso: </strong> Usamos cookies neste site, ao continuar você concorda com nossa "
            data-close-text="Concordo" data-moreinfo="#" data-linkmsg="Política de Privacidade" data-divlinkbg="#f8f9fa"
            data-divlink="#252f40" data-font-family="Open Sans">
            </script>

      <!--   Core JS Files   -->
      <script src="/static/js/core/popper.min.js" type="text/javascript"></script>
      <script src="/static/js/core/bootstrap.min.js" type="text/javascript"></script>
      <script src="/static/js/plugins/perfect-scrollbar.min.js" type="text/javascript"></script>
      <script src="/static/js/plugins/anime.min.js" type="text/javascript"></script>
      {{- block "javascripts" . }}{{- end }}
      <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
      <script src="/static/js/soft-design-system-pro.js" type="text/javascript"></script>

      <!--   Mobile language switcher   -->
      {{ range $.AllTranslations }}
      <script>
            document.getElementById('lang_link_{{ .Lang }}').addEventListener('click', function () {
                  document.getElementById('lang_form_{{ .Lang }}').submit();
            });
      </script>
      {{ end }}

</body>

</html>